:root {
    --color-primary: rgba(0, 128, 83, 1);
    --color-secondary: rgba(0, 77, 50, 1);
    --color-accent: rgba(0, 156, 101, 1);
    --color-primary-light: rgba(230, 250, 231, 1);
}

.title-primary {
    color: var(--color-primary) !important;
}

.title-secondary {
    color: var(--color-secondary) !important;
}

.btn {
    background-color: var(--color-secondary);
}

.btn:hover {
    background-color: var(--color-primary);
}

nav {
    background: var(--color-primary);
    border-bottom: 10px solid var(--color-accent);
}

.hidden {
    display: none !important;
}

.collapsible-header-right {
    float: right;
    position: absolute;
    right: 10px;
    font-style: italic;
}

.collapsible-header-root {
    position: relative;
}

.secondary-content {
    font-weight: bold;
    color: var(--color-secondary) !important;
}

.about-text {
    font-size: 1.3em !important;
}

.button-theme-gimb {
    background-color: var(--color-primary);
}

a {
    color: var(--color-accent);
}

a.collection-item {
    color: var(--color-primary) !important;
}

.datepicker-date-display {
    background-color: var(--color-primary);
}

.datepicker-table td.is-today {
    color: var(--color-primary);
}

.datepicker-table td.is-selected {
    background-color: var(--color-primary);
}

.datepicker-table td.is-selected.is-today {
    background-color: var(--color-primary);
    color: white;
}

.datepicker-cancel {
    color: var(--color-primary);
}

.datepicker-done {
    color: var(--color-primary);
}
